body{
    background-color: black;
}

h1{
    align-self: center;
    text-align: center;
    font-size: 100px;
    color: aliceblue;
    margin-bottom: 20px;
    margin-top: 50px;
}

.navbar{
    margin-top: 50px;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.1),
        0 0 10px rgba(255, 255, 255, 0.1),
        0 0 20px rgba(255, 255, 255, 0.1),
        0 0 40px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 25vw);
    grid-auto-rows: calc(25vw / 1.414);
    gap: 5vw;                           
    justify-content: center;             
    align-items: center;                     
    margin-top: 6vh; 
    margin-bottom: 5vh;                         
}

.gallery img {
    width: 100%;                  
    height: 100%;                 
    object-fit: cover;            
    border-radius: 15px;          
    transition: transform 0.3s;   
}

.gallery img:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3), 0 0 20px rgba(255,255,255,0.1);
}

.layout{
    display:grid;
    grid-template-columns: 1fr 9fr;
    padding: 10px;
    margin-right:10px;
    margin-left:10px;
    gap: 20px;
}

.sidebar img{
    width: 100%;                  
    height: 100%;                 
    object-fit: cover;            
    border-radius: 15px; 
    transition: transform 0.3s; 
}
.images {
    color:aliceblue;
    display: grid;
    width:100%;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    margin-top: 20px; 
    margin-bottom: 15px;
}

.images img{
    width: 100%;                  
    height: 100%;                 
    object-fit: cover;            
    border-radius: 15px;
    transition: transform 0.3s;
}

.images img:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3), 0 0 20px rgba(255,255,255,0.1);
}

.ryn{
    color: aliceblue;
    align-self: center;
    text-align: center;
    font-size: 10px;
}



@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .layout {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .images {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

}
